<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.paris2200">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />



    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/unnamed"
        android:label="@string/app_name"
        android:roundIcon="@drawable/unnamed"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paris2200"
        tools:targetApi="31">

        <!-- Определение основной активности -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".TicketsActivity" />
        <activity android:name=".VenuesActivity" />
        <activity android:name=".QualifiersActivity" />
        <activity android:name=".TorchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CelebrationActivity" />
        <activity android:name=".NewsActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBh2liMwAeSR5OaG9RNIfc0S1ToH0Qy-lo"/>
    </application>

</manifest>
